[submodule "examples/deps/QuadrotorODE"]
	path = examples/deps/QuadrotorODE
	url = git@github.com:JurajLieskovsky/QuadrotorODE.jl.git
[submodule "examples/deps/MeshCatBenchmarkMechanisms"]
	path = examples/deps/MeshCatBenchmarkMechanisms
	url = git@github.com:JurajLieskovsky/MeshCatBenchmarkMechanisms.jl.git
[submodule "examples/deps/CartPoleODE"]
	path = examples/deps/CartPoleODE
	url = git@github.com:JurajLieskovsky/CartPoleODE.jl.git
[submodule "examples/deps/UCNCartPoleODE"]
	path = examples/deps/UCNCartPoleODE
	url = git@github.com:JurajLieskovsky/UCNCartPoleODE.jl.git
[submodule "examples/deps/KinematicBicycleODE"]
	path = examples/deps/KinematicBicycleODE
	url = git@github.com:JurajLieskovsky/KinematicBicycleODE.jl.git
