[submodule "examples/deps/RungeKutta"]
	path = examples/deps/RungeKutta
	url = git@github.com:JurajLieskovsky/RungeKutta.jl.git
[submodule "examples/deps/QuadrotorODE"]
	path = examples/deps/QuadrotorODE
	url = git@github.com:JurajLieskovsky/QuadrotorODE.jl.git
[submodule "examples/deps/MeshCatBenchmarkMechanisms"]
	path = examples/deps/MeshCatBenchmarkMechanisms
	url = git@github.com:JurajLieskovsky/MeshCatBenchmarkMechanisms.jl.git
[submodule "examples/deps/CartPoleODE"]
	path = examples/deps/CartPoleODE
	url = git@github.com:JurajLieskovsky/CartPoleODE.jl.git
[submodule "examples/deps/BrachiationRobotODE"]
	path = examples/deps/BrachiationRobotODE
	url = git@github.com:JurajLieskovsky/BrachiationRobot.jl.git
